
// Here you can add other styles


.c-header.c-header-npmnfixed{
    top:0px;
}

.c-subheader {
    .breadcrumb {
        background: #fff;
        a {
            color: #000;
        }
    }
}

.c-sidebar.c-sidebar-light .c-sidebar-brand {
    background: #000;
}
// .c-sidebar {
//     background-color: #fff;
//     color: #000;

//     .c-show .c-sidebar-nav-dropdown-toggle {
//         background: rgba(0, 0, 0, 0.3);
//     }

//     .c-sidebar-brand {
//         background: #fff;
//     }

//     .c-sidebar-nav-link {
//         color: #fff;
//         background: #eaeaea;
//     }

//     .fa.c-sidebar-nav-icon {
//         color: #000!important;
//     }


// }
// .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
//     color: #000;
// }

// .c-sidebar-nav-link.c-active {
//     font-weight: bold;
// }

// .c-sidebar .c-sidebar-minimizer {
//     background-color: #fff;
// }

// .c-app  .c-sidebar .c-sidebar-nav-dropdown-toggle::after {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='rgba(0, 0, 0, 1)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
// }
// .c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
//     color: #000;
// }
// .c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
//     color: #000;
// }
// .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
//     color: #000;
// }
// .c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
//     color: #000;
// }
// .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle {
//     color: #000;
//     background: #fafafa;
// }

// .c-sidebar .c-sidebar-nav-link:hover {
//     color: #000;
//     background: rgba(0, 0, 0, 0.3);
// }

// .c-sidebar .c-sidebar-nav-link.c-active {
//     color: #000;
// }
.click-file{
    cursor:pointer;
}

#form-group-interest-rate-expiration {
    display: none;

    &.visible {
        display: flex;
    }
}

#form-group-interest-rate-expiration.visible {
    display: flex;
}

.dt-bootstrap4 > .row:nth-child(1) > .col-sm-12:nth-child(1) {
    display: none;
}

.dt-bootstrap4 > .row:nth-child(1) > .col-sm-12:nth-child(2) {
    display: block;
    width: 100%;
    flex: 1;
    max-width: 100%;
}

    .dataTables_filter {
        width: 100%;
        label {
            float: right;
        }
    }

    .dataTables_paginate {
        float: right;
    }

    #DataTables_Table_0_filter {
        > label {
         position: relative;

            &::before {
                position: absolute;
                top: 5px;
                left: 10px;
                font-family: "Font Awesome 5 Free";
                content: "\f002"
            }
        }

    } 

    .card-header {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

.select-checkbox {
    width: 50px;
}

.card {
    .card-header {
        background: $white;

    }

    .card-body {
        table thead {
            color: $white;
            background-color: #3c4b64!important;
        }
    }
}
